<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <title>Employee Service</title>
<!--    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yo/r/iRmz9lCMBD2.ico">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}" media="screen">
</head>
<body>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form class="form-example" th:action="@{/new-employee}" th:object="${employee}" method="post">
                <h1>Employee Detail Update Form</h1>
                <!-- Input fields -->
                <div class="form-group">
                    <label for="first-name">First Name:</label>
                    <input type="text" th:field="*{firstName}" class="form-control username" id="first-name" placeholder="First Name" name="firstName">
                </div>

                <div class="form-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" th:field="*{lastName}" class="form-control username" id="last-name" placeholder="Last Name" name="lastName">
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" th:field="*{email}" class="form-control email" id="email" placeholder="Email" name="email">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="email" th:field="*{password}" class="form-control password" id="password" placeholder="password" name="password">
                </div>

                <div class="form-group">
                    <label for="number">Phone Number:</label>
                    <input type="number" th:field="*{phoneNumber}" class="form-control number" id="number" placeholder="number" name="number">
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" th:field="*{address}" class="form-control username" id="address" placeholder="address" name="address">
                </div>

                <div class="form-div">
                    <button class="btn btn-primary btn-customized" type="submit">Update Employee</button><br>
                </div>
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>
</body>
</html>